body{
    font-family : arial,sans-serif
}

.container {
    display: flex ;
    flex-direction: column ;
}

.NavBar {
    width: 100% ;
    display: flex ;
    justify-content: flex-end ;
}
.material-icons {
    margin: 7px 15px 0px 10px ;
}
.NavBar > a {
    font-size: 13px;
    margin: 10px ;
    text-decoration:none ;
}
.NavBar > button {
    font-size: 13px;
    background-color:#4285f4;
    color: white;
    border-radius: 5px ;
    width: 80px;
    outline-style:none;
}

.DivContCenter{
    width: 100% ;
    padding-top: 13% ;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.DivCenter {
    width: 30% ;
    justify-content: center;
    display: flex ;
    text-align: center;
    flex-direction: column ;
}
img {
    margin-left: auto;
    margin-right: auto;
    height: 92px; ;
    width: 272px ; 
}
.BarreInput {
    display: flex;
    justify-content: space-between;
    border : 2px solid #e4e4e4;
    border-radius: 25px;
}
.BarreInput:hover {
    border: 2px ridge;    
}
.BarreInput:active {
    border: 2px ridge;     
}
.ButtonSearch > button {
    margin-top: 18px ;
    width: 30%;
    height: 36px;
    font-size: 14px;
    background-color: #f2f2f2;
    color: gray;
    border : 1px solid #f2f2f2;
    outline-style:none;
}
.ButtonSearch >  button:hover {
    border-radius: 3px;
    border: 2px ridge;
}
.ButtonSearch >  button:active {
    border-radius: 3px;
    border: 1px ridge #1a73e8;
}

.FootBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    border-top : 2px solid #e4e4e4;
}
.BColorFootBar {
    margin: 13px ;
    font-size: 15px;
}
.FooterDiv {
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    border-top : 2px solid #e4e4e4;
    line-height: 12px;
}
.FooterLien {
    display: flex ;
    justify-content: space-around;
    line-height: 40px;
}
.FooterLien > a {
    color: rgba(0,0,0,.54) ;
}

input {
    border: none ;
    border-radius: 25px;
    height: 30px;
    width: 95%;
    margin-bottom: 2px;
    outline-style:none;
}

a {
    margin: 0px 13px 0px 13px;
    font-size: 13px;
    text-decoration:none ;
    color :rgba(0,0,0,0.87);;
}
a:hover {
    text-decoration: underline;

}
